<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافه مهمه جديدة</title>
    <link rel="stylesheet" href="../assets//css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <form class="imaged-form">
      <div>
        <label>ادخل المهمة الجديدة</label>
        <input type="text" class="note" autofocus required />
      </div>
      <div>
        <button class="img-upload">ارفاق الصورة</button>
      </div>
      <div class="url-image">
        <label>او ادخال رابط الصورة</label>
        <input type="url" class="url-image__input" />
      </div>
      <button type="submit">
        <i class="fas fa-plus"></i>
        اضافه مهمة
      </button>
    </form>

    <script>
      require("../assets/js/imagedScript.js");
    </script>
  </body>
</html>
