<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافه مهمه جديدة</title>
    <link rel="stylesheet" href="../assets//css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <form class="normal-form">
      <div>
        <label>ادخل المهمة الجديدة</label>
        <input type="text" id="task" autofocus required />
      </div>
      <button type="submit">
        <i class="fas fa-plus"></i>
        اضافه مهمة
      </button>
    </form>

    <script src="../assets/js/normalScript.js"></script>
  </body>
</html>
