<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافه مهمه جديدة</title>
    <link rel="stylesheet" href="../assets//css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <form class="timed-form">
      <div>
        <label>ادخل المهمة الجديدة</label>
        <input type="text" class="note" autofocus required />
      </div>
      <h3>ذكرني بها بعد</h3>
      <div class="time-pick">
        <div>
          <label>ساعة</label>
          <input type="number" value="0" class="pick-hours" required />
        </div>
        <div>
          <label>دقيقة</label>
          <input type="number" value="0" class="pick-minutes" required />
        </div>
      </div>
      <button type="submit">
        <i class="fas fa-plus"></i>
        اضافه مهمة
      </button>
    </form>

    <script>
      require("../assets/js/timedScript.js");
    </script>
  </body>
</html>
