@font-face {
  font-family: "Noto Naskh Arabic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoNaskhArabic-Regular.woff2");
}

@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoKufiArabic-Regular.woff2");
}

@font-face {
  font-family: "Noto Kufi Arabic Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoKufiArabic-Bold.woff2");
}
